@import "tailwindcss";
@theme {
  --font-poppins: "Poppins", "sans-serif";
  --color-brown: #df9755;
  --color-dark-brown: #633322;
  --color-yellow: #fab12f;
  --color-light-yellow: #ffc727;
  --color-green: #10493b;
}
html {
  scroll-behavior: smooth;
}
