@import "tailwindcss";
@theme {
  --font-poppins: "Poppins", "sans-serif";
  --color-brown: #df9755;
  --color-dark-brown: #633322;
  --color-yellow: #fab12f;
  --color-light-yellow: #ffc727;
  --color-green: #10493b;
  --color-red: #fa4032;
  --color-cream: #eca085;
}
html {
  scroll-behavior: smooth;
}
